In [17]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

import sqlite3
import pandas as pd

# Load the healthcare dataset from Google Drive
csv_path = '/content/drive/MyDrive/healthcare_dataset.csv'
df = pd.read_csv(csv_path)

# Connect to SQLite database
db_file = '/content/healthcare_analysis.db'
connection = sqlite3.connect(db_file)

# Create a cursor
cursor = connection.cursor()

# Create a table for patients
create_patients_table_query = """
CREATE TABLE IF NOT EXISTS patients (
    Name TEXT,
    Age INTEGER,
    Gender TEXT,
    BloodType TEXT,
    MedicalCondition TEXT,
    DateOfAdmission DATE,
    Doctor TEXT,
    Hospital TEXT,
    InsuranceProvider TEXT,
    BillingAmount REAL,
    RoomNumber INTEGER,
    AdmissionType TEXT,
    DischargeDate DATE,
    Medication TEXT,
    TestResults TEXT
);
"""
cursor.execute(create_patients_table_query)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
# Insert data into the patients table
df.to_sql('patients', connection, if_exists='replace', index=False)

# Commit the changes
connection.commit()

# Close the connection
cursor.close()
connection.close()

In [19]:
# Connect to SQLite database
connection = sqlite3.connect(db_file)

# Create a cursor
cursor = connection.cursor()

# Display the structure of the dataset
data_structure_query = "PRAGMA table_info(patients);"
data_structure = pd.read_sql(data_structure_query, connection)

# Retrieve a few rows of data
sample_data_query = "SELECT * FROM patients LIMIT 5;"
sample_data = pd.read_sql(sample_data_query, connection)

In [20]:
# Display results
print("Data Structure:")
print(data_structure)

print("\nSample Data:")
print(sample_data)

# Close the connection
cursor.close()
connection.close()

Data Structure:
    cid                name     type  notnull dflt_value  pk
0     0                Name     TEXT        0       None   0
1     1                 Age  INTEGER        0       None   0
2     2              Gender     TEXT        0       None   0
3     3          Blood Type     TEXT        0       None   0
4     4   Medical Condition     TEXT        0       None   0
5     5   Date of Admission     TEXT        0       None   0
6     6              Doctor     TEXT        0       None   0
7     7            Hospital     TEXT        0       None   0
8     8  Insurance Provider     TEXT        0       None   0
9     9      Billing Amount     REAL        0       None   0
10   10         Room Number  INTEGER        0       None   0
11   11      Admission Type     TEXT        0       None   0
12   12      Discharge Date     TEXT        0       None   0
13   13          Medication     TEXT        0       None   0
14   14        Test Results     TEXT        0       None   0

Sample Data:
                  Name  Age  Gender Blood Type Medical Condition  \
0      Tiffany Ramirez   81  Female         O-          Diabetes
1          Ruben Burns   35    Male         O+            Asthma
2            Chad Byrd   61    Male         B-           Obesity
3    Antonio Frederick   49    Male         B-            Asthma
4  Mrs. Brandy Flowers   51    Male         O-         Arthritis

  Date of Admission          Doctor                   Hospital  \
0        2022-11-17  Patrick Parker           Wallace-Hamilton
1        2023-06-01   Diane Jackson  Burke, Griffin and Cooper
2        2019-01-09      Paul Baker                 Walton LLC
3        2020-05-02  Brian Chandler                 Garcia Ltd
4        2021-07-09  Dustin Griffin    Jones, Brown and Murray

  Insurance Provider  Billing Amount  Room Number Admission Type  \
0           Medicare    37490.983364          146       Elective
1   UnitedHealthcare    47304.064845          404      Emergency
2           Medicare    36874.896997          292      Emergency
3           Medicare    23303.322092          480         Urgent
4   UnitedHealthcare    18086.344184          477         Urgent

  Discharge Date   Medication  Test Results
0     2022-12-01      Aspirin  Inconclusive
1     2023-06-15      Lipitor        Normal
2     2019-02-08      Lipitor        Normal
3     2020-05-03   Penicillin      Abnormal
4     2021-08-02  Paracetamol        Normal

In [21]:
# Connect to SQLite database
connection = sqlite3.connect(db_file)

# Create a cursor
cursor = connection.cursor()

# Analyze age distribution
age_distribution_query = """
SELECT
  Age,
  COUNT(*) as PatientCount
FROM patients
GROUP BY Age;
"""
age_distribution = pd.read_sql(age_distribution_query, connection)

In [22]:
# Analyze gender distribution
gender_distribution_query = """
SELECT
  Gender,
  COUNT(*) as PatientCount
FROM patients
GROUP BY Gender;
"""
gender_distribution = pd.read_sql(gender_distribution_query, connection)

# Display results
print("Age Distribution:")
print(age_distribution)

print("\nGender Distribution:")
print(gender_distribution)

# Close the connection
cursor.close()
connection.close()

Age Distribution:
    Age  PatientCount
0    18           164
1    19           132
2    20           169
3    21           153
4    22           123
..  ...           ...
63   81           159
64   82           147
65   83           131
66   84           133
67   85           123

[68 rows x 2 columns]

Gender Distribution:
   Gender  PatientCount
0  Female          5075
1    Male          4925

In [28]:
# Connect to SQLite database
connection = sqlite3.connect(db_file)

# Create a cursor
cursor = connection.cursor()

# Retrieve a few rows to inspect column names
sample_data_query = """
SELECT *
FROM patients
LIMIT 5;
"""
sample_data = pd.read_sql(sample_data_query, connection)

# Display the sample data
print("Sample Data:")
print(sample_data)

# Close the connection
cursor.close()
connection.close()

Sample Data:
                  Name  Age  Gender Blood Type Medical Condition  \
0      Tiffany Ramirez   81  Female         O-          Diabetes
1          Ruben Burns   35    Male         O+            Asthma
2            Chad Byrd   61    Male         B-           Obesity
3    Antonio Frederick   49    Male         B-            Asthma
4  Mrs. Brandy Flowers   51    Male         O-         Arthritis

  Date of Admission          Doctor                   Hospital  \
0        2022-11-17  Patrick Parker           Wallace-Hamilton
1        2023-06-01   Diane Jackson  Burke, Griffin and Cooper
2        2019-01-09      Paul Baker                 Walton LLC
3        2020-05-02  Brian Chandler                 Garcia Ltd
4        2021-07-09  Dustin Griffin    Jones, Brown and Murray

  Insurance Provider  Billing Amount  Room Number Admission Type  \
0           Medicare    37490.983364          146       Elective
1   UnitedHealthcare    47304.064845          404      Emergency
2           Medicare    36874.896997          292      Emergency
3           Medicare    23303.322092          480         Urgent
4   UnitedHealthcare    18086.344184          477         Urgent

  Discharge Date   Medication  Test Results
0     2022-12-01      Aspirin  Inconclusive
1     2023-06-15      Lipitor        Normal
2     2019-02-08      Lipitor        Normal
3     2020-05-03   Penicillin      Abnormal
4     2021-08-02  Paracetamol        Normal

In [29]:
# Connect to SQLite database
connection = sqlite3.connect(db_file)

# Create a cursor
cursor = connection.cursor()

# Analyze medical conditions
medical_conditions_query = """
SELECT
  "Medical Condition" as MedicalCondition,
  COUNT(*) as PatientCount
FROM patients
GROUP BY MedicalCondition;
"""
medical_conditions = pd.read_sql(medical_conditions_query, connection)

# Display results
print("Medical Conditions Analysis:")
print(medical_conditions)

# Close the connection
cursor.close()
connection.close()

Medical Conditions Analysis:
  MedicalCondition  PatientCount
0        Arthritis          1650
1           Asthma          1708
2           Cancer          1703
3         Diabetes          1623
4     Hypertension          1688
5          Obesity          1628

In [32]:
# Connect to SQLite database
connection = sqlite3.connect(db_file)

# Create a cursor
cursor = connection.cursor()

# Analyze blood types
blood_types_query = """
SELECT
  "Blood Type" as BloodType,
  COUNT(*) as PatientCount
FROM patients
GROUP BY BloodType;
"""
blood_types = pd.read_sql(blood_types_query, connection)

# Display results
print("Blood Types Analysis:")
print(blood_types)

# Close the connection
cursor.close()
connection.close()

Blood Types Analysis:
  BloodType  PatientCount
0        A+          1241
1        A-          1238
2       AB+          1258
3       AB-          1275
4        B+          1244
5        B-          1252
6        O+          1248
7        O-          1244

In [33]:
# Connect to SQLite database
connection = sqlite3.connect(db_file)

# Create a cursor
cursor = connection.cursor()

# Analyze medication distribution
medication_distribution_query = """
SELECT
  Medication,
  COUNT(*) as PatientCount
FROM patients
GROUP BY Medication;
"""
medication_distribution = pd.read_sql(medication_distribution_query, connection)

# Display results
print("Medication Distribution Analysis:")
print(medication_distribution)

# Close the connection
cursor.close()
connection.close()

Medication Distribution Analysis:
    Medication  PatientCount
0      Aspirin          1968
1    Ibuprofen          1976
2      Lipitor          2015
3  Paracetamol          1962
4   Penicillin          2079

In [35]:
# Connect to SQLite database
connection = sqlite3.connect(db_file)

# Create a cursor
cursor = connection.cursor()

# Analyze test results
test_results_query = """
SELECT
  "Test Results" as TestResults,
  COUNT(*) as PatientCount
FROM patients
GROUP BY TestResults;
"""
test_results = pd.read_sql(test_results_query, connection)

# Display results
print("Test Results Analysis:")
print(test_results)

# Close the connection
cursor.close()
connection.close()

Test Results Analysis:
    TestResults  PatientCount
0      Abnormal          3456
1  Inconclusive          3277
2        Normal          3267

In [38]:
# Connect to SQLite database
connection = sqlite3.connect(db_file)

# Create a cursor
cursor = connection.cursor()

# Correlation between age and billing amount
age_billing_correlation_query = """
SELECT
  Age,
  AVG("Billing Amount") as AvgBillingAmount
FROM patients
GROUP BY Age;
"""
age_billing_correlation = pd.read_sql(age_billing_correlation_query, connection)

# Display results
print("Age-Billing Correlation:")
print(age_billing_correlation)

# Close the connection
cursor.close()
connection.close()

Age-Billing Correlation:
    Age  AvgBillingAmount
0    18      26579.229435
1    19      24308.656799
2    20      27092.522760
3    21      26974.847365
4    22      24724.059899
..  ...               ...
63   81      25038.110131
64   82      24646.693825
65   83      23763.756833
66   84      26382.833446
67   85      23299.278963

[68 rows x 2 columns]

In [40]:
# Connect to SQLite database
connection = sqlite3.connect(db_file)

# Create a cursor
cursor = connection.cursor()

# Correlation between medication and test results
medication_test_correlation_query = """
SELECT
  Medication,
  "Test Results",
  COUNT(*) as PatientCount
FROM patients
GROUP BY Medication, "Test Results";
"""
medication_test_correlation = pd.read_sql(medication_test_correlation_query, connection)

# Display results
print("Medication-Test Correlation:")
print(medication_test_correlation)

# Close the connection
cursor.close()
connection.close()

Medication-Test Correlation:
     Medication  Test Results  PatientCount
0       Aspirin      Abnormal           654
1       Aspirin  Inconclusive           634
2       Aspirin        Normal           680
3     Ibuprofen      Abnormal           680
4     Ibuprofen  Inconclusive           627
5     Ibuprofen        Normal           669
6       Lipitor      Abnormal           721
7       Lipitor  Inconclusive           685
8       Lipitor        Normal           609
9   Paracetamol      Abnormal           685
10  Paracetamol  Inconclusive           651
11  Paracetamol        Normal           626
12   Penicillin      Abnormal           716
13   Penicillin  Inconclusive           680
14   Penicillin        Normal           683

In [42]:
# Connect to SQLite database
connection = sqlite3.connect(db_file)

# Create a cursor
cursor = connection.cursor()

# Analyze admissions over time
admissions_over_time_query = """
SELECT
  DATE("Date Of Admission") as AdmissionDay,
  COUNT(*) as AdmissionsCount
FROM patients
GROUP BY AdmissionDay;
"""
admissions_over_time = pd.read_sql(admissions_over_time_query, connection)

# Display results
print("Admissions Over Time:")
print(admissions_over_time)

# Close the connection
cursor.close()
connection.close()

Admissions Over Time:
     AdmissionDay  AdmissionsCount
0      2018-10-30                3
1      2018-10-31                5
2      2018-11-01                5
3      2018-11-02                6
4      2018-11-03                3
...           ...              ...
1810   2023-10-26                5
1811   2023-10-27                7
1812   2023-10-28                6
1813   2023-10-29                4
1814   2023-10-30                8

[1815 rows x 2 columns]

In [48]:
# Connect to SQLite database
connection = sqlite3.connect(db_file)

# Create a cursor
cursor = connection.cursor()

# Correlation between age and billing amount
age_billing_correlation_query = """
SELECT
  Age,
  AVG("Billing Amount") as AvgBillingAmount
FROM patients
GROUP BY Age;
"""
age_billing_correlation = pd.read_sql(age_billing_correlation_query, connection)

# Display results
print("Age and Billing Amount Correlation:")
print(age_billing_correlation)

# Correlation between medication and test results
medication_test_correlation_query = """
SELECT
  Medication,
  "Test Results",
  COUNT(*) as PatientCount
FROM patients
GROUP BY Medication, "Test Results";
"""
medication_test_correlation = pd.read_sql(medication_test_correlation_query, connection)

# Display results
print("\nMedication and Test Results Correlation:")
print(medication_test_correlation)

# Close the connection
cursor.close()
connection.close()

Age and Billing Amount Correlation:
    Age  AvgBillingAmount
0    18      26579.229435
1    19      24308.656799
2    20      27092.522760
3    21      26974.847365
4    22      24724.059899
..  ...               ...
63   81      25038.110131
64   82      24646.693825
65   83      23763.756833
66   84      26382.833446
67   85      23299.278963

[68 rows x 2 columns]

Medication and Test Results Correlation:
     Medication  Test Results  PatientCount
0       Aspirin      Abnormal           654
1       Aspirin  Inconclusive           634
2       Aspirin        Normal           680
3     Ibuprofen      Abnormal           680
4     Ibuprofen  Inconclusive           627
5     Ibuprofen        Normal           669
6       Lipitor      Abnormal           721
7       Lipitor  Inconclusive           685
8       Lipitor        Normal           609
9   Paracetamol      Abnormal           685
10  Paracetamol  Inconclusive           651
11  Paracetamol        Normal           626
12   Penicillin      Abnormal           716
13   Penicillin  Inconclusive           680
14   Penicillin        Normal           683